services:
  db:
    image: postgres:latest
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - DATABASE_NAME=payment_gateway
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
    networks:
      - backend_network
  web:
    build: .
    working_dir: /code/backend
    entrypoint: /entrypoint.sh
    command: daphne -e ssl:8000:privateKey=key.pem:certKey=cert.pem payment_gateway.asgi:application
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=payment_gateway
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - PYTHONPATH=/code/backend
      - DJANGO_SETTINGS_MODULE=payment_gateway.settings
    depends_on:
      - db
    networks:
      - shared_network
      - backend_network
  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - backend_network
networks:
  shared_network:
    external: true
  backend_network:
    driver: bridge

volumes:
  redis_data: {}
