{% load static i18n %}


<!DOCTYPE html>
<html>
    <!-- Template by HTML Design - https://html.design -->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/authorization.css' %}" rel="stylesheet" />
        {% block extra_css %}{% endblock %}

        <link href="{% static 'css/style.css' %}" rel="stylesheet" />


        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- header -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="{% url 'dashboard' %}">
                        <span>
                            PayFlowZ
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            {% if request.user.is_authenticated %}
                            <li class="{% if section == 'dashboard' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'dashboard' %}">{% trans "Main panel" %}</a>
                            </li>
                            <li class="{% if section == 'show_profile' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'show_profile' %}">{% trans "Profile" %}</a>
                            </li>
                            <li
                                class="{% if section == 'manage_application' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link"
                                    href="{% url 'manage_application' %}">{% trans "Application management " %}</a>
                            </li>
                            <li class="{% if section == 'support' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'chats' %}">{% trans "Support" %}</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <input class="logout-bnt" type="submit" value="{% trans 'Log-out' %}">
                                </form>
                            </li>
                            {% else %}
                            <li class="{% if section == 'home' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'dashboard' %}">{% trans "Home" %} <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="{% if section == 'about' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
                            </li>
                            <li class="{% if section == 'services' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'services' %}">{% trans "Services" %}</a>
                            </li>
                            <li class="{% if section == 'why_us' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'why_us' %}">{% trans "Why Us" %}</a>
                            </li>
                            <li class="{% if section == 'team' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'team' %}">{% trans "Team" %}</a>
                            </li>
                            <li class="{% if section == 'login' %}nav-item active{% else %}nav-item{% endif %}">
                                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-user"
                                        aria-hidden="true"></i> {% trans "Login" %}</a>
                            </li>
                            {% endif %}

                            <!-- Language switcher -->
                            <form method="post" action="{% url 'set_language' %}" id="language-form">
                                {% csrf_token %}
                                <div class="language-dropdown">
                                    <button type="button" class="dropdown-btn">
                                        <img src="{% static 'images/' %}{{ LANGUAGE_CODE }}.png"
                                            alt="{{ LANGUAGE_CODE }}" width="20">
                                    </button>
                                    <div class="dropdown-content">
                                        {% if LANGUAGE_CODE != 'en' %}
                                        <a href="#" data-lang="en">
                                            <img src="{% static 'images/en.png' %}" alt="English" width="20">
                                        </a>
                                        {% endif %}

                                        {% if LANGUAGE_CODE != 'pl' %}
                                        <a href="#" data-lang="pl">
                                            <img src="{% static 'images/pl.png' %}" alt="Polish" width="20">
                                        </a>
                                        {% endif %}

                                        {% if LANGUAGE_CODE != 'it' %}
                                        <a href="#" data-lang="it">
                                            <img src="{% static 'images/it.png' %}" alt="Italian" width="20">

                                        </a>
                                        {% endif %}

                                        {% if LANGUAGE_CODE != 'es' %}
                                        <a href="#" data-lang="es">
                                            <img src="{% static 'images/es.png' %}" alt="Spanish" width="20">
                                        </a>
                                        {% endif %}

                                        {% if LANGUAGE_CODE != 'fr' %}
                                        <a href="#" data-lang="fr">
                                            <img src="{% static 'images/fr.png' %}" alt="French" width="20">
                                        </a>
                                        {% endif %}

                                        {% if LANGUAGE_CODE != 'de' %}
                                        <a href="#" data-lang="de">
                                            <img src="{% static 'images/de.png' %}" alt="German" width="20">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->

        {% block content %}
        {% endblock %}

        <!-- info section -->
        <section class="info_section layout_padding2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 info_col">
                        <div class="info_contact">
                            <h4>{% trans "Contact" %}</h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>{% trans "Call +00 000000000" %}</span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>{% trans "@gmail.com" %}</span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6 info_col">
                        <div class="info_detail">
                            <h4>{% trans "Info" %}</h4>
                            <p>{% trans "PayFlowZ provides secure and reliable payment solutions for businesses of all sizes. Enjoy seamless integration, real-time tracking, and 24/7 support." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end info section -->

        <section class="footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a>
                </p>
            </div>
        </section>

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <!-- bootstrap js -->
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- owl slider -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- custom js -->
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const dropdownItems = document.querySelectorAll('.dropdown-content a');
                const form = document.getElementById('language-form');

                dropdownItems.forEach(item => {
                    item.addEventListener('click', function (e) {
                        e.preventDefault();

                        const selectedLang = item.getAttribute('data-lang');
                        const languageInput = document.createElement("input");
                        languageInput.type = "hidden";
                        languageInput.name = "language";
                        languageInput.value = selectedLang;

                        form.appendChild(languageInput);
                        form.submit();
                    });
                });
            });
        </script>

    </body>

</html>