{% extends "base.html" %}
{% load static%}
{% block title %}Payment Successful{% endblock %}

{% block extra_css %}
<link href="{% static 'css/payments.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="payment-success-container">
    <div class="payment-success-card">
        <h2 class="payment-success-title">🎉 Payment Successful!</h2>
        <p class="payment-success-message">Your transaction number: <strong>{{ order.id }}</strong></p>

        {% if order.redirect_link %}
        <p class="payment-success-redirect">
            Redirecting you to your payment page shortly. <br />
            If you are not redirected, click the link below:
        </p>
        <a class="payment-success-link" href="{{ order.redirect_link }}" target="_blank">{{ order.redirect_link }}</a>

        <h3 class="payment-success-wait">Please wait...</h3>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const url = "{{ order.redirect_link|escapejs }}";
                setTimeout(function () {
                    window.location.href = url;
                }, 5000);  // Redirect after 5 seconds
            });
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}