{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1 class="password-reset-heading">Password Reset Instructions</h1>
    <p class="password-reset-text">We have sent you an email with instructions to allow you to set a new password.</p>
    <p class="password-reset-text">If you did not receive the email, please check that you entered the correct email
        address associated with your account.</p>
</div>
{% endblock %}