{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="pass">
    <h1>Forgot your password?</h1>
    <p>Enter your email address to define a new password.</p>
    <form action="." method="post">
        <table>
            <tr>
                <td>
                    <h4>Email: </h4>
                </td>
                <td>{{ form.email }}</td>
            </tr>
            {% csrf_token %}
            <tr>
                <td><input type="submit" value="Send e-mail"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}