{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="password-reset" class="pass-reset-container">
    <h1 class="pass-reset-title">{% trans "Password Reset Successful" %}</h1>
    <p class="pass-reset-message">{% trans "Your password has been successfully reset." %}</p>
    <p class="pass-reset-message">{% trans "You can now" %} <a href="{% url 'login' %}"
            class="btn btn-login">{% trans "Login" %}</a></p>
</div>
{% endblock %}