{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<h1>Password reset</h1>
{% if validlink %}
<p>Enter the new password:</p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Change password" /></p>
</form>
{% else %}
<p>
    The link that allows you to reset your password is incorrect, as it has probably been used before. You need to
    restart the password reset procedure.
</p>
{% endif %}
{% endblock %}