{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1 class="password-reset-heading">Forgot Your Password?</h1>
    <p class="password-reset-description">Enter your email address to receive instructions for resetting your password.
    </p>
    <form action="." method="post" class="password-reset-form">
        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            {{ form.email }}
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-submit">Send Email</button>
    </form>
</div>
{% endblock %}