{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}

{% block content %}
<div class="registration-success-container">
    <h1 class="registration-success-heading">Hello, {{ new_user.first_name }}!</h1>
    <p class="registration-success-message">Your account has been created successfully.</p>
    <p class="registration-login-prompt">You can now to login your account.</p>
    <p class="registration-login-prompt"><a href="{% url 'login' %}" class="btn btn-submit">Login</a></p>

</div>
{% endblock %}