{% extends "base.html" %}

{% block title %}cre{% endblock %}

{% block content %}
<div id="profile">
    <h1>Profile information</h1>
    {% if profile.iban is None%}
    <p>The profile is empty. <a href="{% url 'edit_profile' %}"> edit the
            profile</a></p>

    {% else %}

    <table>
        <tr>
            <td>
                <h3>First name:</h3>
            </td>
            <td>
                {{ profile.first_name }}
            </td>
        </tr>
        <tr>
            <td>
                <h3>Last name:</h3>
            </td>
            <td>
                {{ profile.last_name }}
            </td>
        </tr>
        <tr>
            <td>
                <h3>Email:</h3>
            </td>
            <td>
                {{ profile.email }}
            </td>
        </tr>
        <tr>
            <td>
                <h3>Bank account:</h3>
            </td>
            <td>
                {{ profile.iban }}
            </td>
        </tr>
    </table>
    {% endif %}

</div>
{% endblock %}