{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Team" %}{% endblock %}
{% block content %}

<!-- team section -->
<section class="team_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container heading_center">
      <h2>
        {% trans "Our" context "team" %} <span>{% trans "Team" %}</span>
      </h2>
    </div>

    <div class="team_container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/team-1.jpg' %}" class="img1" alt="{% trans 'Creator Image' %}">
            </div>
            <div class="detail-box">
              <h5>
                Hubert Kowalski
              </h5>
              <p>
                {% trans "Creator & Developer of PayFlow" %}
              </p>
            </div>
            <div class="social_box text-center">
              <!-- Social icons -->
              <a href="https://pl.linkedin.com/in/hubert-kowalski-9155311a2?trk=people-guest_people_search-card">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <!-- GitHub Icon -->
              <a href="https://github.com/CrazyMonkey0">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end team section -->
{% endblock %}