{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<div id="chat-log"></div>
<input type="text" id="chat-message-input" />
<button id="chat-message-input-send">Send</button>

<script>
    const chatSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/chat/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += '<br>' + data.message;
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input-send').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ 'message': message }));
        messageInputDom.value = '';
    };
</script>
{% endblock  %}